.DS_Store
*~
.envrc
.cache/
*.pyc
.pytest_cache/
.ropeproject/
nzdb.egg-info/
app/static/*.png
app/static/*.ico
app/static/
confs/
htmlcov/
.coverage
*/.nrepl-port
*/figwheel_server.log
todo.txt
.vscode
*.code-workspace


