<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Nooze Aggregator</title>
  <script defer src="https://kit.fontawesome.com/1c3587d824.js" crossorigin="anonymous"></script>
  <!-- <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nzfe.css') }}" type="text/css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">

  <!-- This should go in manifest -->

  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('static', filename='icons/apple-icon-180x180.png') }}" />
  <link rel="icon" type="image/png" sizes="192x192"
    href="{{ url_for('static', filename='icons/android-icon-192x192.png') }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}" />
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='icons/favicon-96x96.png') }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='icons/ms-icon-144x144.png') }}" />
  <meta name="theme-color" content="#ffffff" />
</head>

<body>
  <noscript>
    Nooze is a JavaScript app. Please enable JavaScript to continue.
  </noscript>
  <div id="app">
    <!-- <p>Hi from nzfe</p> -->
  </div>
  <!-- <script src="/js/compiled/app.js"></script> -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>